body {
background: black;
border: 1PX solid white;
color: white;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: flex-start;
align-items: baseline;

}





div{
background: gray;
width: 20%;
text-align: center;
border: 1px solid white;
margin: 10px;
}
imG{
width: 100%;

}
