body{
width: 80%;  
margin: auto;
padding: 10px;

}

HEADER NAV ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

HEADER NAV ul li{
    padding: 10px 15PX;
}
HEADER NAV ul li a{
    text-decoration: none;
    color: black;
}

HEADER NAV ul li a:hover{
    border-bottom: 1px solid black;
}

span{
    color: orange;
}

#top {
    text-align: center;
    background-color: gray;
    padding: 20px;
    color: white;
}

main {
    background: orange;
}

.flex-container {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  width: 70%;
  flex-wrap: wrap;
  margin: auto;
  
    
}
footer {

    background: black;
    color: white;
    padding: 20px;
}

