@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  min-height: 100vh;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: black;
}

.container .search-box {
  position: relative;
  height: 42px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container .search-box input {
  width: 100%;
  height: 100%;
  position: absolute;
  outline: none;
  border: none;
  padding: 0 15px 0 45px;
  background: #fff;
  border-radius: 6px;
  color: black;
}

.container .search-box i {
  position: absolute;
  color: #999;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  font-size: 20px;
}

.container .images {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container .images .image-box {
  position: relative;
  height: 110%;
  width: 30%;
  border-radius: 6px;
  overflow: hidden;
  margin: 8px;
  cursor: pointer;
}

.container .images .image-box img {
  height: 100%;
  width: 100%;
  border-radius: 6px;
  transition: 0.3s ease;
}

.container .images .image-box:hover img {
  transform: scale(1.05);
}

.container .images .image-box h6 {
  position: absolute;
  color: #fff;
  bottom: 25px;
  left: 10px;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}



i{
  font-size: 45px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
}


#toggleDark{
  background-color: white;
  color: black;
}



